article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
  background-color: rgb(228, 248, 255);
  font-family: 'Rubik', sans-serif;
}

p {
  padding: 4px;
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 95%;
  border: 3px solid rgb(157, 210, 243);
  background-color: rgb(252, 252, 252);
  margin: 0 auto;
  border-radius: 15px;
}

header img {
  width: 35px;
  height: auto;
  display: inline-block;
  margin: 0 20px;
}

header h1 {
  display: inline-block;
  font-family: "Bangers", sans-serif;
  color: rgb(30,30,30);
  font-size: 3.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.30);
}

header .header-container {
  margin: 0 auto;
  overflow: auto;
}

.instruction-controls-wrapper {
  display: flex;
  justify-content: space-around;
}

.instruction-controls-div {
  border: 2px solid rgb(157, 210, 243);
  padding: 10px;
  margin: 5px;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.20);
  border-radius: 20px;
}

.controls-div {
  width: 70%;
}

.instruction-div {
  width: 30%;
  font-size: 90%;
}

.search div {
  margin: 10px auto;
}

.search-categories select {
  margin: 0 10px;
}

label{
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}

input[type=checkbox] {
  padding: 2px;
}

input[type=checkbox] + label {
  border: 1px dashed blue;
} 

input[type=checkbox]:checked + label {
  background-color: lightskyblue;
} 

form {
  padding-bottom: 10px;
}

.amiibo-results {
  width: 95%;
  border: 3px solid rgb(157, 210, 243);
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.search-pages {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.page-number {
  cursor: pointer;
  border: none;
  background: none;
  margin: 2px;
  padding: 1px;
}

.page-number:hover {
  color: blue;
}

.page-number:focus {
  border: 2px solid blue;
}

.amiibo-card {
  width: calc(25% - 15px);
  margin: 5px;
  border: 3px solid rgb(209, 209, 255);
  padding: 5px;
  background-color: rgb(240, 240, 240);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.20);
}

.amiibo-card-image {
  width: 95%;
  border: 2px solid rgb(151, 151, 151);
  padding: 3px;
  margin: 0 auto;
}

.amiibo-card-image img {
  width: 100%;
}

.amiibo-card-info-charname {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
}

/* spin infinite 20x linear */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 700px){

  .instruction-controls-wrapper {
    flex-direction: column;
  }

  .amiibo-card {
    width: calc(50% - 15px);
    margin: 5px;
    border: 3px solid rgb(209, 209, 255);
    padding: 5px;
    background-color: rgb(240, 240, 240);
  }
  
}

@media(max-width: 400px){

  .amiibo-card {
    width: calc(100% - 15px);
    margin: 5px;
    border: 3px solid rgb(209, 209, 255);
    padding: 5px;
    background-color: rgb(240, 240, 240);
  }
  
}